{% extends 'base.html.twig' %} {% block title %}Comment{% endblock %} {% block body %}
<div class="container">
    <h1>Commentaire</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Film</th>
                <td>{{ comment.movie }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>postDate</th>
                <td>{{ comment.postDate ? comment.postDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-primary btn-lg" href="{{ path('comment_edit', {'id': comment.id}) }}">Modifier</a>
    <p>ou</p>
    {{ include('comment/_delete_form.html.twig') }}
    <hr>
    <a class="btn btn-primary btn-lg" href="{{ path('comment_index') }}">Retour à la liste</a>
    <a class="btn btn-primary btn-lg" href="/">Retour à l'accueil du site</a>
</div>
{% endblock %}