{% extends 'base.html.twig' %} 
{% block title %}Administration des utilisateurs{% endblock %} 
{% block body %}
<div class="container">
    <h1>Liste des utilisateurs</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Credits</th>
                <th>Login</th>
                <th>Mot de passe</th>
                <th>Mail</th>
                <th>Date d'inscription</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.credits }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.registerDate |date('d/m/Y H:i:s')}}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('user_edit', {'id': user.id}) }}">éditer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">aucun utilisateur enregistré</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Créer un nouvel utilisateur</a>

    <br>
    <br>

    <a class="btn btn-primary btn-lg" href="/">Retour à l'accueil du site</a>
</div>
{% endblock %}